APP_ENV=dev
TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_USER_IDS=
OLX_BASE_URL=https://www.olx.pt
FACEBOOK_MARKETPLACE_URL=https://www.facebook.com/marketplace
USER_AGENT=Mozilla/5.0
REQUEST_TIMEOUT_SECONDS=30
SCRAPE_MAX_PAGES=5
MIN_MARGIN=0.2
MAX_LISTING_PRICE=1200
DB_URL=sqlite:///./data/gpu_flip.db
PRICE_COMP_URLS=
HEALTHCHECKS_ENABLED=true
